[Unit]
Description=OpenTabletDriver Daemon

[Service]
ExecStart=/usr/share/OpenTabletDriver/OpenTabletDriver.Daemon
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
